.mic-logo {
  width: 40px;
  height: 40px;
  color: var(--custom-400);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.form-auth {
  max-width: 330px;
  padding: 1rem;
  margin: 0 auto;
}

.form-auth .form-floating:focus-within {
  z-index: 2;
}

.form-control:focus {
  box-shadow: 0 0 0 3px var(--custom-300);
  border-color: var(--custom-500);
}

.captain-alert {
  width: 60% !important;
}

.rules-list li {
  list-style-type: none;
  background: url('star-filled.svg') left center no-repeat;
  padding-left: 35px;
}

.occurrences-list li {
  padding-left: 10px;
}

.singer-card, .profile-div {
  background-color: #343b43 !important;
}

.captain-div svg {
  width: 40px;
  height: 40px;
  color: var(--custom-400);
}

.leaderboard-item {
  background-color: #343b43 !important;
  border: 1px solid var(--custom-500) !important;
}