<footer class="footer mt-auto py-3 bg-custom-100 font-monospace">
    <div class="container">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            {% if user.is_authenticated %}
                <li class="nav-item"><a href="{% url 'teams:index' %}" class="nav-link px-2 text-dark fw-semibold">My teams</a></li>
                <li class="nav-item"><a href="{% url 'results:results-singers' %}" class="nav-link px-2 text-dark fw-semibold">Results</a></li>
                <li class="nav-item"><a href="{% url 'results:leaderboards' %}" class="nav-link px-2 text-dark fw-semibold">Leaderboards</a></li>
            {% endif %}
            <li class="nav-item"><a href="{% url "rules:index" %}" class="nav-link px-2 text-dark fw-semibold">Rules</a></li>
            <li class="nav-item"><a href="{% url 'singers' %}" class="nav-link px-2 text-dark fw-semibold">Singers</a></li>
            {% if not user.is_authenticated %}
                <li class="nav-item"><a href="{% url "users:register" %}" class="nav-link px-2 text-dark fw-semibold">Sign up</a></li>
            {% endif %}
        </ul>
        <p class="text-center text-dark">© 2025 mk</p>
    </div>
</footer>