{% extends "default.html" %}
{% block content %}
  <div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card border-pink-400 bg-dark text-light">
        <div class="card-body">
          <h5 class="card-title text-pink-100">Rules</h5>
          <p class="card-text">Read the rules and find out which events can earn or lose your team points.</p>
          <a href="#" class="btn btn-outline-light">Go to rules</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card border-pink-400 bg-dark text-light">
        <div class="card-body">
          <h5 class="card-title text-pink-100">Singers</h5>
          <p class="card-text">Find out who are the singers you can add to your teams and what is the cost of putting them in your team.</p>
          <a href="#" class="btn btn-outline-light">Go to singers</a>
        </div>
      </div>
    </div>
  </div>

  {% if user.is_authenticated %}
    {% include "home_call_to_action.html" with title="Enter" text="Create your team(s) or check out how your existing teams are doing" button_url="teams" button_text="Go to teams" %}
  {% else %}
    {% include "home_call_to_action.html" with title="Register" text="Register to start creating your team(s), or login if you already have an account" button_url="register" button_text="Sign up" login_button=True %}
  {% endif %}
{% endblock content %}