{% extends "default.html" %}
{% block content %}
{% if data_count == 0 %}
    <p class="text-pink-300 mb-2">No teams available</p>
{% else %}
<div class="row row-cols-1 row-cols-md-3 row-cols-sm-2 g-5">
    {% for team_information in data %}
    {% with team=team_information.team %}
    {% with singers_count=team_information.singers_count %}
    {% with singers=team_information.singers %}
        {% include "team.html" %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endfor %}
</div>
<div id="membersModal" class="modal fade">
    <div id="membersDialog" class="modal-dialog modal-dialog-centered modal-dialog-scrollable" hx-target="this"></div>
</div>
<div id="teamsModal" class="modal fade">
    <div id="teamsDialog" class="modal-dialog modal-dialog-centered modal-dialog-scrollable" hx-target="this"></div>
</div>

<div class="position-fixed top-0 end-0 p-3">
    <div id="toast" class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div id="toast-body" class="toast-body"></div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
</div>

{% block add_script %}
    {% load static %}
    <script src="{% static 'htmlx-interactive.js' %}"></script>
{% endblock add_script %}
{% endif %}
{% endblock content %}