{% extends "default.html" %}
{% block content %}
    <div class="col-sm-6 mx-auto mb-3 mb-sm-0 profile" hx-get="{% url 'reload-profile' user.id %}"
    hx-target="this" hx-swap="outerHTML" hx-trigger="userProfileChanged from:body">
      <div class="card border-custom-400 profile-div text-light">
        <div class="card-body text-center">
          <h3 class="card-title text-custom-100 font-monospace">{{user.username}}</h3>
          <img src="{{user.image.url}}" class="rounded w-75" id="profileImg">
        </div>
        <button class="btn btn-outline-light w-75 mx-auto mb-3"
        type="button" hx-get="{% url 'edit-profile' user.id %}" hx-target="#userDialog">Update</button>
      </div>
    </div>

    <div id="userModal" class="modal fade">
        <div id="userDialog" class="modal-dialog modal-dialog-scrollable" hx-target="this"></div>
    </div>

    {% block add_script %}
    {% load static %}
        <script src="{% static 'htmx-modal.js' %}"></script>
    {% endblock add_script %}
{% endblock content %}